
body{
  font-family: 'Sailec-Bold','system-ui','-apple-system','BlinkMacSystemFont','Segoe UI','Roboto','Helvetica Neue','Helvetica','Arial','sans-serif';
  background-color: orange;
  font-size: 1rem;
  line-height: 3rem;
  color:
}

/*
..............COLORI................................. */
.text-primary{
  color: #0069ff;
}
.text-white{
  color: white;
}

.text-secondary{
  color:color:#031b4e;
}

.bg-primary{
  background-color: #0069ff;
}
.bg-white{
  background-color: white;
}

h1{
  font-weight: bold;
  font-size: 5em;
}

h2{
  font-weight: bold;
  font-size: 3em;
  line-height: 1em;
}

h3{
  font-weight: bold;
  font-size: 2em;
  line-height: 1em;
}

p {
  font-size: 2.1em;
  color: #5b6987;
}

.small {
  font-size: 1.1em;
}




/*......................... NAVBAR ...........................*/

.nav.navbar-nav , .navbar-header{
  padding-top:20px;
  padding-bottom:20px;
}

.navbar-brand img{
  max-width: 155px;

}

.navbar-nav > li > a {
  font-size: 1.25em!important;
  color:hsl(221,93%,16%) !important;
  font-weight: bold;
  padding:0 10px;
}

nav button.btn {
  margin-top: 2px;
  background-color: transparent;
  border: 1px solid #006aff;
  color: #006aff;
}


/*......................... jumbo ...........................*/
header {
  margin-top: 90px;
}

#jumbotron {
  background-image: url("../img/jumbo.svg");
  position: relative;
  background-size: cover;
  background-position: bottom center;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height:200px;
}

.jumbo_content.my_card{
  border:1px solid black;
  background-color: white;
  border-radius: 15px;
  padding:0 40px;
}

.form-group .btn , .form-group input {
  width:100%;
}

button>img{
  width:20px;
  float: left;
}

/*.......... Sezione Customers ...........................*/
.ms_customer{
  width: 45%;
  display: inline-block;
  vertical-align: middle;
}
.ms_customer img{
  width: 100%;
  height:auto;
}

#customers > div >div:nth-of-type(2) >div > div:nth-of-type(odd){
  border:2px solid red;
  margin-right: 10px;
}
#customers > div >div:nth-of-type(2) >div > div:nth-of-type(even){
  border:2px solid red;
  margin-left: 10px;
}






/* ..........................................MEDIA QUERIES................... */


/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */


/* -XS- Small devices (landscape phones, 576px and up) */
@media all and (min-width: 480px) {


}


/* -SM- Medium devices (tablets, 768px and up)  */
@media all and (min-width: 768px) {

  body{
    background-color: orange;
  }

  /* .....NAVBAR COLLASSATA (MENU HAMBURGER VISIBILE)....... */
  .navbar-header {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }

  /*.......... Sezione Customers ...........................*/


  .ms_customer{
    width: 14%!important;
    display: inline-block;
    vertical-align: middle;
  }
  .ms_customer img{
    width: 100%!important;
    height:auto;
  }
  #customers > div >div:nth-of-type(2) >div > div:nth-of-type(odd){
    border:2px solid green;
    margin-right: 1%;
    margin-left: 0%;
  }

  #customers > div >div:nth-of-type(2) >div > div:nth-of-type(even){
    border:2px solid blue;
    margin-right: 1%;
    margin-left: 0%;
  }

}



/* -MD- Large devices (desktops, 992px and up) */

@media  all and  (min-width: 992px) {

  body{
    background-color: lightgreen;
    /* background-image: url(../img/debug_md.jpg); */
    background-repeat: repeat;
  }

  /* .........PADDING GENERALI............ */

  nav, #jumbotron, section {
    padding-left: 20px!important;
    padding-right: 20px!important;
  }


}
/* -LG- Large devices (large desktops, 1200px and up) ........................ */

@media  all and  (min-width: 1200px) {

  body {
    background-image: url(../img/debug_lg.jpg);
    background-repeat: repeat;
    background-color: lightgrey;
  }


  nav, #jumbotron, section {
    padding-left: 10%!important;
    padding-right: 10%!important;
  }

    /* ....NAVBAR COMPLETA - LINK VISIBILI E HAMBURGER INVISIBILE - . */

  .navbar-header {
    float: left;
  }

  .navbar-collapse.collapse {
    display: block!important;
  }

  /* .........NAVBAR allineamento ITEM centrali........... */
  .nav.navbar-nav:first-of-type {
    float: left!important;
    padding-left: 5%;
  }

  .nav.navbar-nav.navbar-right {
    float: right!important;
    margin-top: 7.5px;
  }

  .navbar-nav>li {
    float: left;
  }

  .navbar-nav > li > a{
    padding-left:5px;
    padding-right: 5px;
  }

  .navbar-toggle {
    display: none !important;
  }

 .navbar-right {
   margin-right: 0!important;
 }


}
